.alinhamento {
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 80vh;
    width: 20vw; 
    padding: 10px; 
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    word-break: break-all;
}

.alinhamento p {
    margin: 10; 
    padding: 20px; 
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center; 
    border-radius: 10px;
    width: 70%;
    height: 25vh; 
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: color 1.0s;
}

.alinhamento p:hover{
        color: #8beb90;
        filter: drop-shadow(7px 7px 7px #a3f0a6);
        transition: 1.0s;
}
